<div class="box">
  <div class="box-header header heading">
    Latest articles from&nbsp;<%= link_to 'Lawinside.ch', 'http://www.lawinside.ch' %>
  </div>
  <% if @news.count > 0 %>
  <ul>
    <% @news.each do |article| %>
    <li class="box-row">
      <%= link_to article[:link], target: "_blank", class: 'card block-link' do %>
      <div class="card-header">
        <span class="link-color">
          <%= article[:title] %>
        </span>
      </div>
      <div class="card-content">
        <span class="icon-text small">
          <%= icon_tag('calendar') %><%= article[:pubdate].strftime("%d.%m.%Y") %>
        </span>
        <span class="icon-text small">
          <%= icon_tag('person') %><%= article[:author] %>
        </span>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
