<div class="box">
  <div class="box-header">
    <%= t('.latest_news') %>&nbsp;<%= link_to 'Lawinside.ch', 'http://www.lawinside.ch' %>
  </div>
  <% if @news.is_a?(SocketError) %>
  <div class="box-content">
    <%= @news %>
  </div>
  <% elsif @news.count > 0 %>
  <ul class="card-list">
    <% @news.each do |article| %>
    <li class="card">
      <%= link_to article[:link], target: "_blank", class: 'block-link' do %>
      <div class="card-header">
        <%= article[:title] %>
      </div>
      <div class="card-content">
        <span class="icon-text small">
          <%= icon_tag('calendar') %><%= article[:pubdate].strftime("%d.%m.%Y") %>
        </span>
        <span class="icon-text small">
          <%= icon_tag('person') %><%= article[:author] %>
        </span>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
