<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title">Dashboard</h1>
    </header>
  </div>
</div>

<!-- This is the end, my friend -->

<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <section class="col-6">
    <div class="row">
      <div class="col">
        <%= render 'financials' %>
      </div>
      <div class="col">
        <ul class="timeline">
          <% current_user.activities.order(date: :desc).limit(5).includes(:project).group_by(&:date).sort.reverse.each do |date| %>
          <li class="timeline-date">
            <header class="timeline-header">
              <span class="timeline-icon"><%= icon_tag('git-commit') %></span>
              Activity logged on <%= date.first.strftime("%d.%m.%Y") %>
            </header>
            <ul class="box">
              <% date.last.each do |activity| %>
              <li class="box-row">
                <div class="card">
                  <div class="card-header">
                    <%= link_to activity.label, activity.project %>
                    <span class="push tag"><%= activity.category %></span>
                  </div>
                  <div class="card-content">
                    <span class="icon-text">
                      <%= icon_tag('repo') %>
                      <%= "#{ activity.project.label } (#{ strip_tags(main_parties(activity.project)) })" %>
                    </span>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= render 'news' %>
      </div>
    </div>
  </section>
</div>
