<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <section class="col-6">
    <header class="page-header">
      <h1 class="page-title">Dashboard</h1>
    </header>
    <div class="row">
      <div class="col">
        <div class="box">
          <div class="box-header">
            Financials
          </div>
          <% if true %>
          <div class="box-content">
            <p>Total billable hours:&nbsp;<%= number_with_precision(Activity.where(user: current_user).sum(&:duration), precision: 2) %> (<%= number_with_precision(Activity.where(user: current_user, date: 1.month.ago..Time.now).sum(&:duration), precision: 2) %> since <%= 1.month.ago %>)</p>
            <p>Total fees:&nbsp;<%= fee(Activity.where(user: current_user).sum("duration * fee")) %> (<%= fee(Activity.where(user: current_user, date: 1.month.ago..Time.now).sum("duration * fee")) %> since <%= 1.month.ago %>)</p>
          </div>
          <% else %>
          <%= image_tag('undraw/void.svg', class: 'void') %>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="box">
          <div class="box-header">
            Financials
          </div>
          <% if true %>
          <div class="box-content">
            <p>Total billable hours:&nbsp;<%= number_with_precision(Activity.where(user: current_user).sum(&:duration), precision: 2) %></p>
            <p>Total fees:&nbsp;<%= fee(Activity.where(user: current_user).sum("duration * fee")) %></p>
          </div>
          <% else %>
          <%= image_tag('undraw/void.svg', class: 'void') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="box">
          <div class="box-header">
            Latest articles from&nbsp;<%= link_to 'Lawinside.ch', 'http://www.lawinside.ch' %>
          </div>
          <% if @news %>
          <ul>
            <% @news.each do |article| %>
            <li class="box-row">
              <div class="">
                <p><%= link_to article[:title], article[:link], target: "_blank" %></p>
                <p class="mute"><%= article[:author] %>&nbsp;|&nbsp;<%= article[:pubdate].strftime("%d.%m.%Y") %></p>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
</section>
</div>
