<%= form_with(url: login_path, scope: :session, local: true) do |form| %>

<div class="field">
  <%= form.label :login, 'E-mail', class: 'label' %>
  <div class="control has-icons-left">
    <%= form.text_field :login, id: :user_login, class: 'input' %>
    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
  </div>
</div>

<div class="field">
  <%= form.label :password, 'Password', class: 'label' %>
  <div class="control has-icons-left">
    <%= form.password_field :password, id: :user_password, class: 'input' %>
    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.submit 'Log in', class: 'button is-info is-fullwidth' %>
  </div>
</div>

<% end %>
