<h1>Log in</h1>
<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <%= form.text_field :login, autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false', placeholder: 'Username' %>
  <%= form.password_field :password, autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false', placeholder: 'Password' %>
  <%= form.submit 'Log in' %>
<% end %>
<%= link_to "Click here to sign up", signup_path %>
