<div class="row space-above">
  <div class="col-4 col-offset-2">
    <div class="box">
      <div class="box-header">
        <h1 class="heading">Log in</h1>
      </div>
      <%= form_with(url: login_path, scope: :session, local: true, class: 'form') do |form| %>
      <div class="form-field">
        <%= form.label :login, 'Username' %>
        <%= form.text_field :login, autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' %>
      </div>
      <div class="form-field">
        <%= form.label :password %>
        <%= form.password_field :password, autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' %>
      </div>
      <div class="form-action">
        <%= form.submit 'Log in', class: 'button blue' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 col-offset-2">
    <div class="box">
      <div class="box-content">
        <p>Don't have an account? <%= link_to "Click here to sign up", signup_path %>.</p>
      </div>
    </div>
  </div>
</div>
