<li>
  <%= link_to deadline.project, class: 'card horizontal' do %>
  <div class="card-aside">
    <%= deadline.completed_at.nil? ? icon_tag('circle', class: 'small') : icon_tag('check-circle', class: 'small') %>
  </div>
  <div class="card-main">
    <div class="card-header">
      <%= deadline.label %>
      <span class="tag"><%= t("deadlines.attributes.categories.#{ deadline.category }") %></span>
    </div>
    <div class="card-content">
      <%= t('deadlines.card.assigned_to') %>
      <%= current_user == deadline.user ? t('application.deadlines.you') : avatar_tag_for(deadline.user) %>
      <%= ", #{ t('deadlines.card.completed_ago', time_ago: time_ago_in_words(deadline.completed_at)) }." if deadline.completed_at.present? %>
    </div>
  </div>
  <% end %>
</li>
