<header class="header heading">
  <span class="timeline-icon"><%= icon_tag('git-commit') %></span>
  <%= dot_label(date.first.strftime("%d.%m.%Y"), color_by_urgency(get_urgency_of_date(date.first))) %>
</header>
<ul class="box">
  <% date.last.each do |deadline| %>
  <li class="box-row">
    <%= link_to deadline.project, class: 'card block-link' do %>
    <div class="card-header heading">
      <span class="link-color">
        <%= highlight(deadline.label, params[:query]) %>
      </span>
      <span class="push tag">
        <%= i18n_enum(deadline, 'category').capitalize %>
      </span>
    </div>
    <div class="card-content">
      <span class="icon-text small">
        <%= icon_tag('repo') %><span class="mute"><%= "#{ deadline.project.label } (#{ strip_tags(main_parties(deadline.project)) })" %></span>
      </span>
    </div>
    <div class="card-footer">
      <span class="icon-text small">
        <%= icon_tag('people') %><%= t('.assigned_to') %> <%= avatar_tag_for(deadline.assignee) %><%= (build_name(deadline.assignee)) %>
      </span>
    </div>
    <% end %>
  </li>
  <% end %>
</ul>
