<div class="card">
  <div class="card-header">
    <%= link_to deadline.label, project_path(deadline.project, anchor: 'deadlines') %><span class="label"><%= deadline.category %></span>
  </div>
  <div class="card-content">
    <%= icon_tag('repo', class: 'inline') %><%= link_to deadline.project.combine(:name), deadline.project, class: 'invisible-link' %>
  </div>
  <div class="card-footer">
    <span class="dot-label">
      <span class="dot<%= urgency_by_date(deadline.date, true) %>"></span>
      <span><%= deadline.date.strftime("%d.%m.%Y") %></span>
    </span>
  </div>
</div>
