<div class="buttons-merged">
  <details class="dropdown">
    <summary aria-haspopup="true">
      <%= simple_format('Assigned to', { class: "button dropdown-trigger#{ ' orange' if params[:user].present? }" }, wrapper_tag: 'span') %>
    </summary>
    <ul class="dropdown-content">
        <% @users.each do |user| %>
          <% if @all_deadlines.filter_by_user(user).count > 0 %>
            <li role="menuitem" class="box-row">
              <%= link_to "#{ build_name(user) } (#{@all_deadlines.filter_by_user(user).count})",
              url_for(user: user),
              class: "menu-item#{ ' orange-color' if params[:user] == user.id.to_s }" %>
            </li>
          <% end %>
        <% end %>
    </ul>
  </details>

  <details class="dropdown">
    <summary aria-haspopup="true">
      <%= simple_format('Category', { class: "button dropdown-trigger#{ ' orange' if params[:category].present? }" }, wrapper_tag: 'span') %>
    </summary>
    <ul class="dropdown-content">
        <% @categories.each do |category| %>
          <li role="menuitem" class="box-row">
            <%= link_to "#{ i18n_enum(@all_deadlines.filter_by_category(category).first, :category).capitalize } (#{@all_deadlines.filter_by_category(category).count})",
            url_for(category: category),
            class: "menu-item#{ ' orange-color' if params[:category] == category }" %>
          </li>
        <% end %>
    </ul>
  </details>
</div>

<div class="buttons-merged">
  <%= link_to 'Your open deadlines', url_for(user: current_user), class: 'button green' %>
  <%= link_to 'Show all', url_for, class: 'button blue' %>
</div>
