<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title"><%= t('.title') %></h1>
      <span class="push button-group"><%= render 'filters' %></span>
    </header>
  </div>
</div>
<section class="row">
  <aside class="col-2 order-s-1 order-l-0">
    <%= render 'sidebar/index' %>
  </aside>
  <div class="col order-s-0 order-l-1">
    <% if @deadlines.count > 0 %>
    <ul class="timeline">
      <% @deadlines_by_dates.each do |date| %>
      <li class="timeline-date">
        <%= render 'card', date: date %>
      </li>
      <% end %>
    </ul>
    <%= paginate @deadlines_by_dates %>
    <% else %>
    <div class="box">
      <%= image_tag('undraw/void.svg', class: 'void') %>
    </div>
    <% end %>
  </div>
</section>
