<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @deadline.label %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deadline.category %>
</p>

<p>
  <strong>Due by:</strong>
  <%= @deadline.date %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @deadline.completed_at %>
</p>

<p>
  <strong>Project:</strong>
  <%= @deadline.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @deadline.assignee %>
</p>

<%= link_to 'Edit', edit_deadline_path(@deadline) %> |
<%= link_to 'Back', deadlines_path %>
