<%= form_with(model: @user, local: true) do |f| %>

<%= render partial: 'error', locals: { model: @user } %>

<div class="field">
  <%= f.label :login, 'E-mail', class: 'label' %>
  <div class="control has-icons-left">
    <%= f.text_field :login, id: :user_login, class: 'input', placeholder: 'This will also be your login' %>
    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
  </div>
</div>

<div class="field">
  <%= f.label :password, 'Password', class: 'label' %>
  <div class="control has-icons-left">
    <%= f.password_field :password, id: :user_password, class: 'input', placeholder: 'Try to be creative' %>
    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
  </div>
</div>

<div class="field">
  <%= f.label :password_confirmation, 'Confirm password', class: 'label' %>
  <div class="control has-icons-left">
    <%= f.password_field :password_confirmation, id: :user_password_confirmation, class: 'input', placeholder: 'Please confirm your password' %>
    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= f.submit 'Sign up', class: 'button is-info is-fullwidth' %>
  </div>
</div>

<% end %>
