<%= form_with(model: user, local: true) do |form| %>
<%= render 'form_errors', obj: user %>
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header">
        Profile
      </div>
      <div class="form-field">
        <%= form.label :login, 'Username*' %>
        <%= form.text_field :login, required: true, id: :user_login %>
      </div>

      <div class="form-field">
        <%= form.label :password, 'Password*' %>
        <%= form.password_field :password, required: true, id: :user_password %>
      </div>

      <div class="form-field">
        <%= form.label :password_confirmation, 'Password confirmation*' %>
        <%= form.password_field :password_confirmation, required: true, id: :user_password_confirmation %>
      </div>

      <div class="form-field">
        <%= form.label :name, 'Full name*' %>
        <%= form.text_field :name, required: true, id: :user_name %>
      </div>

      <div class="form-field">
        <%= form.label :email, 'Email*' %>
        <%= form.text_field :email, id: :user_email %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <div class="box-header">
        Settings
      </div>

      <div class="form-field file-uploader">
        <%= form.label :avatar do %>
        <span class="label">Avatar</span>
        <div class="file-uploader-input">
          <%= image_tag(user.avatar, class: 'avatar') %>
          <span class="file-uploader-label">Upload another</span>
        </div>
        <%= form.file_field :avatar, accept: '.jpg, .jpeg, .gif, .png', id: :user_avatar %>
        <%end %>
      </div>

      <div class="form-field">
        <%= form.label :locale, 'Preferred language*' %>
        <%= form.select :locale, I18n.available_locales.collect { |locale| [t('language', locale: locale), locale] }, required: true, id: :user_locale %>
      </div>

      <div class="form-field">
        <%= form.label :default_fee %>
        <%= form.number_field :default_fee, value: '%.2f' % user.default_fee, step: 0.05 %>
      </div>

      <% if is_admin? %>
      <div class="form-field">
        <%= form.label :role %>
        <%= form.select :role, options_for_select(User.roles.keys.reverse.map { |role| [role.capitalize, role] }, user.role), value: user.role, id: :user_role %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="box">
      <div class="form-action">
        <span class="mute small">* Required fields.</span>
        <span class="push button-group">
          <%= link_to 'Retour', user, class: 'button outline' %>
          <%= form.submit class: 'button blue push' %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
