<%= form_with(model: user, local: true) do |form| %>
<%= render 'form_errors', obj: user %>
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header">
        <%= t('.profile') %>
      </div>
      <div class="form-field">
        <%= form.label :login, "#{ t('users.attributes.login') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.text_field :login, id: :user_login %>
      </div>

      <div class="form-field">
        <%= form.label :password, "#{ t('users.attributes.password') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.password_field :password, value: user.password_digest, id: :user_password %>
      </div>

      <div class="form-field">
        <%= form.label :password_confirmation, "#{ t('users.attributes.password_confirmation') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.password_field :password_confirmation, value: user.password_digest, id: :user_password_confirmation %>
      </div>

      <div class="form-field">
        <%= form.label :name, "#{ t('users.attributes.name') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.text_field :name, id: :user_name %>
      </div>

      <div class="form-field">
        <%= form.label :email, "#{ t('users.attributes.email') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.text_field :email, id: :user_email %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <div class="box-header">
        <%= t('.settings') %>
      </div>

      <div class="form-field file-uploader">
        <%= form.label :avatar do %>
        <span class="label"><%= t('users.attributes.avatar') %></span>
        <div class="file-uploader-input">
          <%= image_tag(user.avatar, class: 'avatar') %>
          <span class="file-uploader-label"><%= t('.upload_avatar') %></span>
        </div>
        <%= form.file_field :avatar, accept: '.jpg, .jpeg, .gif, .png', id: :user_avatar %>
        <%end %>
      </div>

      <div class="form-field">
        <%= form.label :locale, "#{ t('users.attributes.locale') }<span class=mandatory-field>*</span>".html_safe %>
        <%= form.select :locale, I18n.available_locales.collect { |locale| [t('language', locale: locale), locale] }, id: :user_locale %>
      </div>

      <div class="form-field">
        <%= form.label :default_fee, "#{ t('users.attributes.default_fee') }" %>
        <%= form.number_field :default_fee, value: '%.2f' % user.default_fee, step: 0.05 %>
      </div>

      <% if is_admin? %>
      <div class="form-field">
        <%= form.label :role, "#{ t('users.attributes.role') }" %>
        <%= form.select :role, options_for_select(User.roles.keys.reverse.map { |role| [role.capitalize, role] }, user.role), value: user.role, id: :user_role %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="box">
      <div class="form-action">
        <span class="mute small"><span class="mandatory-field">*</span> <%= t('helpers.form.required_fields') %>.</span>
        <span class="push button-group">
          <%= link_to t('helpers.form.back'), user, class: 'button outline' %>
          <%= form.submit t('helpers.form.submit'), class: 'button blue push' %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
