<div class="row">
  <div class="col-6 col-offset-1">
    <%= form_with model: @user, local: true do |form| %>
    <header class="page-header">
      <h1 class="page-title">Edit user</h1>
      <div class="button-group">
        <%= link_to 'Back', users_path, class: 'button small outline' %>
        <%= link_to 'Show', @user, class: 'button small outline' %>
        <%= form.submit 'Save', class: 'button small light blue' %>
      </div>
    </header>

    <div class="box">
      <div class="box-header">
        <%= "#{@build_label(user.contact, :name)}#{' (you)' if @user == current_user}" %>
      </div>
      <%= render partial: 'form_errors', locals: { user: @user } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'login',
        label: 'Username',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'password',
        label: 'Password',
        type: 'password',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'avatar',
        label: 'Avatar',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'preferred_lang',
        label: 'Language',
        type: 'select',
        options: User.distinct.pluck(:preferred_lang) { |p| [ p.preferred_lang ] }
      } %>

      <div class="box-footer">
        <span class="small">* required fields</span>
      </div>
    </div>
    <% end %>
  </div>
</div>
