<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title"><%= t('.title') %></h1>
    </header>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <section class="col-6">
    <div class="box">
      <table>
        <thead>
          <tr>
            <th><%= t('.user') %></th>
            <th><%= t('.role') %></th>
            <th><%= t('.language') %></th>
            <th><%= t('.default_fee') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.order(role: :desc, name: :asc).each do |user| %>
          <tr>
            <td><%= avatar_tag_for(user) %></td>
            <td><%= t("users.attributes.roles.#{ user.role }") %></td>
            <td><%= t('language', locale: user.locale) %></td>
            <td><%= fee(user.default_fee) %></td>
            <td>
              <span class="icon-group small">
              <%= link_to icon_tag('eye'), user if can_view?(user)%>
                <%= link_to_if(user == current_user, icon_tag('pencil'), account_path) do %>
                  <%= link_to(icon_tag('pencil'), edit_user_path(user)) %>
                <% end %>
                <%= link_to icon_tag('trash'), user, method: :delete, data: { confirm: t('helpers.link_to.confirm') } if can_delete?(user) %>
              </span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
