<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title">
        <%= @user.name %>
      </h1>
      <%= render 'edit-box', target: @user %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="box">
      <div class="box-header">
        Profile
      </div>
      <div class="box-content">
        <%= image_tag(@user.avatar, class: 'avatar') %>
        <p>
          <strong>Username:</strong>
          <%= @user.login %>
        </p>

        <p>
          <strong>Role:</strong>
          <%= @user.role.capitalize %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= mail_to @user.email %>
        </p>

        <p>
          <strong>Locale:</strong>
          <%= t('language', locale: @user.locale) %>
        </p>

        <p>
          <strong>Default fee:</strong>
          <%= fee(@user.default_fee) %>
        </p>

        <p>
          <strong>Cases owned:</strong>
          <%= link_to @user.projects.count, projects_path(owner: @user.id) %> (<%= link_to @user.projects.where(status: :active).count, projects_path(owner: @user.id, status: :active) %> of which are active)
        </p>
      </div>
    </div>
    <div class="box">
      <div class="box-header">
        Assigned deadlines
      </div>
        <ul class="card-list">
          <% @user.deadlines.includes(:assignee).sort_by(&:date).each do |deadline| %>
          <li class="card horizontal">
            <div class="card-aside">
              <%= deadline.completed_at.nil? ? icon_tag('circle', class: 'small') : icon_tag('check-circle', class: 'small') %>
            </div>
            <div class="card-main<%= ' mute' unless deadline.completed_at.nil? %>">
              <div class="card-header">
                <%= deadline.label %>
                <span class="tag"><%= i18n_enum(deadline, 'category') %></span>
                <%= link_to icon_tag('trash', class: 'small'), deadline_path(deadline), method: :delete, data: { confirm: 'Are you sure?' }, class: 'push small' if can_delete_deadline?(deadline) %>
              </div>
              <div class="card-content">
                <% if deadline.completed_at.present? %>
                  <%= "Completed on #{ deadline.completed_at.strftime("%d.%m.%Y") }" if deadline.completed_at.present? %>
                <% else %>
                  <%= dot_label(deadline.date.strftime("%d.%m.%Y"), color_by_urgency(get_urgency_of_date(deadline.date))) %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="col-5">
    <ul class="timeline">
      <% @user.activities.order(date: :desc).limit(10).includes(:project).group_by(&:date).sort.reverse.each do |date| %>
      <li class="timeline-date">
        <header class="timeline-header">
          <span class="timeline-icon"><%= icon_tag('git-commit') %></span>
          Activity logged on <%= date.first.strftime("%d.%m.%Y") %>
        </header>
        <ul class="box">
          <% date.last.each do |activity| %>
          <li class="box-row">
            <div class="card">
              <div class="card-header">
                <%= link_to activity.label, activity.project %>
                <span class="push tag"><%= activity.category %></span>
              </div>
              <div class="card-content">
                <span class="icon-text">
                  <%= icon_tag('repo') %>
                  <%= "#{ activity.project.label } (#{ strip_tags(main_parties(activity.project)) })" %>
                </span>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
