<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h1>The Grid</h1>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>One column</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>Two fluid columns</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>Left fixed side bar, right fluid main with one column</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fixed-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>Left fixed side bar, right fluid main with two columns</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fixed-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>Left fluid main with two columns, right fixed side bar</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fixed-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fluid-width">
    <h2>Left fixed side bar, right fluid main with three columns</h2>
  </div>
</div>

<div class="gee g-block">
  <div class="gee g-fixed-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
  <div class="gee g-fluid-width">
    <% Faker::Hipster.paragraphs(number: 5).each do |p| %>
    <p><%= p %></p>
    <% end %>
  </div>
</div>
