<header class="row">
  <div class="col">
    <h1 class="title">
      Site settings
    </h1>
  </div>
</header>
<div class="row">
  <div class="col-4">
    <section class="box">
      <header class="box-header">
        <h2>Case categories</h2>
      </header>
      <div class="box-content">
        <table>
          <thead>
            <tr>
              <th>Label</th>
              <th>Color</th>
            </tr>
          </thead>
          <tbody>
            <% @case_categories.each do |category| %>
            <tr>
              <td><%= category.label %> (<%= @cases.all.where(category: category).count %>)</td>
              <td>
                <span class="dot" style="background-color: <%= category.color %>"></span>
                <span class="disambiguate"><%= category.color %></span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <div class="col-4">
    <section class="box">
      <header class="box-header">
        <h2>Contact categories</h2>
      </header>
      <div class="box-content">
        <table>
          <thead>
            <tr>
              <th>Label</th>
              <th>Color</th>
            </tr>
          </thead>
          <tbody>
            <% @case_categories.each do |category| %>
            <tr>
              <td><%= category.label %> (<%= @cases.all.where(category: category).count %>)</td>
              <td>
                <span class="dot" style="background-color: <%= category.color %>"></span>
                <span class="disambiguate"><%= category.color %></span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col">
    <section class="box">
      <header class="box-header">
        <h2>Users</h2>
      </header>
      <div class="box-content">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Username</th>
              <th>Email</th>
              <th>Avatar</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.contact.combine(:name), user.contact %> (You)</td>
              <td><%= user.role.titleize %></td>
              <td><span class="disambiguate"><%= user.login %></span></td>
              <td><%= user.contact.email %></td>
              <td><%= image_tag('150.jpg', alt: 'Avatar', class: 'icon avatar') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
