<header class="page-header">
  <div class="row">
    <div class="col">
      <h1 class="title">
        Site settings
      </h1>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-4">
    <section class="box">
      <header class="box-header">
        <h2>Case categories</h2>
      </header>
        <table class="box-content">
          <thead>
            <tr>
              <th>Label</th>
              <th>Color</th>
            </tr>
          </thead>
          <tbody>
            <% @case_categories.each do |category| %>
            <tr>
              <td><%= category.label.capitalize %> (<%= @cases.where(category: category).count %>)</td>
              <td>
                <span class="dot-label">
                  <span class="dot-icon" style="background-color: <%= category.color %>"></span>
                  <span class="disambiguate"><%= category.color %></span>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </section>
  </div>
  <div class="col-4">
    <section class="box">
      <header class="box-header">
        <h2>Contact roles</h2>
      </header>
        <table class="box-content">
          <thead>
            <tr>
              <th>Label</th>
              <th>Color</th>
            </tr>
          </thead>
          <tbody>
            <% @contact_roles.each do |role| %>
            <tr>
              <td><%= role.label.capitalize %> (<%= @contacts.where(role: role).count %>)</td>
              <td>
                <span class="dot-label">
                  <span class="dot-icon" style="background-color: <%= role.color %>"></span>
                  <span class="disambiguate"><%= role.color %></span>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </section>
  </div>
</div>

<div class="row">
  <div class="col">
    <section class="box">
      <header class="box-header">
        <h2>Users</h2>
      </header>
        <table class="box-content">
          <thead>
            <tr>
              <th>Name</th>
              <th>Access level</th>
              <th>Username</th>
              <th>Email</th>
              <th>Avatar</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.contact.combine(:name), user %><%= " (You)" if user == current_user %></td>
              <td><%= user.role.label.capitalize %> (<%= user.role.access_level %>)</td>
              <td><span class="disambiguate"><%= user.login %></span></td>
              <td><%= user.contact.email %></td>
              <td><%= image_tag(user.avatar, alt: 'Avatar', class: 'icon avatar') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </section>
  </div>
</div>
