<%= link_to contact, class: 'box', role: 'article' do %>
  <header class="box-header">
    <%= highlight(contact.name, params[:query]) %>
    <%= simple_format(t("contacts.attributes.categories.#{ contact.category }").capitalize, { class: 'push tag' }, wrapper_tag: 'span') %>
  </header>

  <div class="box-content">
    <%= highlight(build_address(contact), params[:query]) %>
  </div>

  <footer class="box-footer">
    <span class="keys"><%= dot_label(t("contacts.attributes.roles.#{ contact.role.label }"), contact.role.color) %></span>
    <% if contact.projects.count > 0 %>
      <span class="keys"><%= t('.party_in_n_cases', count: contact.projects.count) %>.</span>
    <% end %>
  </footer>
<% end %>
