<div class="box" id="<%= person['id'].last %>">
  <div class="box-header">
    <% if person['name'] %>
      <%= "#{ person['name'] }#{ ', ' + person['firstname'] if person['type'] == 'Person' }" %>
      <span class="tag"><%= person['type'] == 'Organisation' ? 'Company' : 'Private person' %></span>
    <% else %>
      <%= person['title'] %>
    <% end %>
  </div>
  <div class="box-content">
    <% if person['street'] %>
      <%= simple_format(tel_search_content(person)) %>
    <% else %>
      <%= person['content'].remove(person['title']).strip %>
    <% end %>
  </div>
  <div class="box-footer">
    <span class="mute small">
      <% if person['copyright'] %>
        <%= simple_format(person['copyright'], {}, wrapper_tag: "span") if person['copyright'] %>
        &nbsp;|&nbsp;
      <% end %>
      <%= link_to 'View source', tel_search_link(person), target: "_blank" %>
    </span>

    <%= form_with(model: @contact, local: false) do |form| %>
      <% tel_search_data(person).each do |k, v| %>
        <%= form.hidden_field k, value: v %>
      <% end %>
      <%= form.collection_radio_buttons :contact_role_id, ContactRole.all.order(:label), :id, :friendly_name %>
      <%= button_tag 'Import', class: 'button small green', type: 'submit' %>
    <% end %>
  </div>
</div>
