<div class="box">
  <div class="box-header">
    <%= link_to highlight(contact.combine(:full_name), params[:q]), contact %>
    <span class="tag"><%= contact.combine(:category) %></span>
  </div>
  <div class="box-content">
    <%= highlight(simple_format(contact.combine(:address)), params[:q]) %>
  </div>
  <div class="box-footer">
    <span class="dot-label">
      <span class="dot-icon" style="background-color: <%= contact.role.color %>"></span>
      <span class="small"><%= contact.role.label.capitalize %></span>
    </span>
    <% if contact.projects.count > 0 %>
      <span class="keys">Party in <%= pluralize(contact.projects.count, 'case') %></span>
    <% end %>
  </div>
</div>
