<div class="box" id="<%= person['id'].last %>">
  <div class="box-header">
    <% if person['name'] %>
      <%= [person['firstname'], person['name']].reject(&:blank?).join(' ') %>
      <span class="push tag"><%= person['type'] == 'Organisation' ? 'Company' : 'Private person' %></span>
    <% else %>
      <%= person['title'] %>
    <% end %>
  </div>
  <div class="box-content">
    <% if person['street'] %>
      <%= simple_format(tel_search_content(person)) %>
    <% else %>
      <%= person['content'].remove(person['title']).strip %>
    <% end %>
  </div>
  <div class="box-footer">
    <span class="keys">
      <% if person['copyright'] %>
        <%= simple_format(person['copyright'], {}, wrapper_tag: "span") if person['copyright'] %>
        <br />
      <% end %>
      <%= link_to 'View source', tel_search_link(person), target: "_blank" %>
    </span>

      <% if Contact.find_by_import_uid("#{person['id'].last}") %>
        <%= button_tag 'Already imported', class: 'button push', disabled: true %>
      <% else %>
        <%= form_with(model: @contact, local: false, class: 'inline-fields push') do |form| %>
          <% tel_search_data(person).each do |k, v| %>
            <%= form.hidden_field k, value: v %>
          <% end %>
          <%= form.select :contact_role_id, ContactRole.all.order(:label).collect {|p| [ p.label.capitalize, p.id ] }, {  } %>
          <%= button_tag 'Import', class: 'button green', type: 'submit' %>
        <% end %>
      <% end %>
  </div>
</div>
