<div class="card">
  <div class="card-header">
    <%= link_to contact.combine(:long_name), contact %>
    <span class="label"><%= contact.combine(:category) %></span>
  </div>
  <div class="card-content">
    <p><%= contact.combine(:address) %></p>
  </div>
  <div class="card-footer">
    <span class="dot-label">
      <span class="dot" style="background-color: <%= contact.role.color %>"></span>
      <span><%= contact.role.label.titleize %></span>
    </span>
    <% if contact.projects.count > 0 %>
      <span class="keys">Party in <%= pluralize(contact.projects.count, 'case') %>.</span>
    <% end %>
  </div>
</div>
