<div class="buttons-merged">
  <details class="dropdown">
    <summary aria-haspopup="true">
      <%= simple_format('Country', { class: "button dropdown-trigger#{ ' orange' if params[:country].present? }" }, wrapper_tag: 'span') %>
    </summary>
    <ul class="dropdown-content box">
        <% @countries.each do |country| %>
        <li role="menuitem" class="box-row">
          <%= link_to "#{country} (#{@all_contacts.filter_by_country(country.downcase).count})",
          url_for(country: country.downcase),
          class: "menu-item#{ ' orange-color' if params[:country] == country.downcase }" %>
        </li>
        <% end %>
    </ul>
  </details>

  <details class="dropdown">
    <summary aria-haspopup="true">
      <%= simple_format('Category', { class: "button dropdown-trigger#{ ' orange' if params[:category].present? }" }, wrapper_tag: 'span') %>
    </summary>
    <ul class="dropdown-content box">
      <li role="menuitem" class="box-row">
        <%= link_to "Companies (#{@all_contacts.where(category: :company).count})",
        url_for(category: 1),
        class: "menu-item#{ ' orange-color' if params[:category].present? && params[:category] == '1' }" %>
      </li>
      <li role="menuitem" class="box-row">
        <%= link_to "Persons (#{@all_contacts.where(category: :person).count})",
        url_for(category: 0),
        class: "menu-item#{ ' orange-color' if params[:category].present? && params[:category] == '0' }" %>
      </li>
    </ul>
  </details>
</div>

<%= link_to "Show all", url_for, class: 'button blue' %>
