<details>
  <summary aria-haspopup="true">
    <span class="button small light<%= ' orange' if params[:category].present? %>">Category <%= icon_tag('triangle-down') %></span>
  </summary>
  <ul class="box dropdown">
    <% Contact.distinct.pluck(:category).sort.each do |category| %>
      <li role="menuitem">
        <%= link_to url_for(category: category), class: "box-row small#{ ' orange-color' if params[:category] == category }" do %>
          <%= "#{category == 'natural person' ? 'Private person' : 'Company'}" %> (<%= Contact.where(category: category).count %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</details>

<%= link_to "Show all", url_for, class: 'button small light blue' %>
