<%= form_with(model: contact, local: true) do |form| %>
<%= render 'form_errors', obj: contact %>

<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header">
        <%= t('.basic_info') %>
      </div>
      <div class="form-field">
        <%= form.label :name, "#{ t('contacts.attributes.name') }*" %>
        <%= form.text_field :name, required: true, id: :contact_name %>
      </div>

      <div class="form-field">
        <%= form.label :category, "#{ t('contacts.attributes.category') }*" %>
        <%= form.select :category, Contact.categories.keys.map { |category| [category.capitalize, category] }, { required: true } %>
      </div>

      <div class="form-field">
        <%= form.label :activity, "#{ t('contacts.attributes.activity') }*" %>
        <%= form.text_field :activity %>
      </div>

      <div class="form-field">
        <%= form.label :email, "#{ t('contacts.attributes.email') }" %>
        <%= form.text_field :email, id: :contact_email %>
      </div>

      <div class="form-field">
        <%= form.label :contact_role_id, "#{ t('contacts.attributes.role') }*" %>
        <%= form.select :contact_role_id, ContactRole.all.order(:label).collect {|p| [ p.label.capitalize, p.id ] }, { required: true } %>
      </div>

      <div class="form-field">
        <%= form.label :notes, "#{ t('contacts.attributes.notes') }" %>
        <%= form.text_area :notes, id: :contact_notes %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <div class="box-header">
        Address
      </div>

      <div class="form-field">
        <%= form.label :street, "#{ t('contacts.attributes.street') }*" %>
        <%= form.text_field :street %>
      </div>

      <div class="form-field">
        <%= form.label :city, "#{ t('contacts.attributes.city') }*" %>
        <%= form.text_field :city %>
      </div>

      <div class="form-field">
        <%= form.label :country, "#{ t('contacts.attributes.country') }*" %>
        <%= form.text_field :country %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="box">
      <div class="form-action">
        <span class="mute small">* <%= t('helpers.form.required_fields') %>.</span>
        <span class="push button-group">
          <%= link_to t('helpers.form.back'), contact, class: 'button outline' %>
          <%= form.submit t('helpers.form.submit'), class: 'button blue push' %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
