<div class="pseudotable">
  <div class="thead">
    <div class="tr">
      <div class="td">
        <%= sortable "last_name", "Name" %>
      </div>
      <div class="td">
        City
      </div>
      <div class="td">
        <%= sortable "personality", "Type" %>
      </div>
      <div class="td">
        <%= sortable "role", "Role" %>
      </div>
    </div>
  </div>
  <div class="tbody">
    <% @contacts.each do |contact| %>
      <%= link_to contact, class: 'tr' do %>
        <div class="td"><%= contact.combine(:long_name) %></div>
        <div class="td"><%= contact.combine(:city) %></div>
        <div class="td"><%= contact.combine(:personality) %></div>
        <div class="td"><%= contact.role.titleize %></div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @contacts.count == 0 %>
<div class="has-text-centered mt-3 is-size-6 has-text-weight-bold">no content&mldr;</div>
<% end %>
