<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title"><%= t('contacts.new.import_tel_search') %></h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="box invisible">
      <%= form_with(method: 'get', local: true) do |form| %>
      <div class="inline-fields">
        <%= form.text_field :search %>
        <%= form.submit t('helpers.form.search'), class: 'button small blue' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @results %>
      <p><%= t('.found_n_results', count: @results[:total], query: params[:search]) %>.</p>
      <% if @results[:total] > @search_limit %>
        <p><%= t('.too_many_results', limit: @search_limit) %>.</p>
      <% end %>
      <ul class="row">
        <% @results[:items].each do |person| %>
        <li class="col-4">
          <%= render 'card_for_import', person: person %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <%= image_tag('void.svg', class: 'void') %>
    <% end %>
  </div>
</div>
