<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title">Import a contact from tel.search.ch</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_with(method: 'get', local: true) do |form| %>
    <div class="inline-fields">
      <%= form.text_field :search %>
      <%= form.submit 'Search', class: 'button small blue' %>
    </div>
    <% end %>

    <% if @results %>
      <p>Found <%= pluralize(@results[:total], 'result') %> for '<%= params[:search] %>'.</p>
      <% if @results[:total] > 25 %>
        <p>Results limited to the first 25; please be more specific.</p>
      <% end %>
      <ul class="row">
        <% @results[:items].each do |person| %>
        <li class="col-4">
          <%= render 'card_for_import', person: person %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <%= image_tag('undraw/void.svg', class: 'void') %>
    <% end %>
  </div>
</div>
