<header class="page-header">
<div class="row">
  <div class="col-7">
    <h1 class="title">
      <%= link_to "Contacts", contacts_path %>
      <span class="mute">&nbsp;&sol;&nbsp;</span>
      <%= @contact.combine(:name) %>
      <span class="label"><%= @contact.combine(:category) %></span>
    </h1>
  </div>
  <div class="col-1 u-align-right icons">
    <%= link_to icon_tag('pencil'), edit_contact_path(@contact) %>
    <%= link_to icon_tag('trash'), @contact, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
</header>
<div class="row">
  <div class="col-5">
    <section class="box">
      <header class="box-header">
        <h2 class="heading">Overview</h2>
        </header>
      <div class="box-content">
        <p><%= @contact.combine(:address) %></p>
        <span class="dot-label">
          <span class="dot-icon" style="background-color: <%= @contact.role.color %>"></span>
          <%= @contact.role.label.capitalize %>
        </span>
      </div>
    </section>
  </div>
  <div class="col-3">
    <section class="box">
      <header class="box-header">
        <h2 class="heading">Cases</h2>
      </header>
      <div class="box-content">
        <% if @contact.projects.count > 0 %>
        Party in the following <%= pluralize(@contact.projects.count, 'case') %>:
        <ul>
          <% @contact.projects.each do |project| %>
          <li><%= link_to project.combine(:long_name), project %></li>
          <% end %>
        </ul>
        <% else %>
        <p>No case yet...</p>
        <% end %>
      </div>
    </section>
  </div>
</div>
