<div class="row">
  <div class="col-6 col-offset-1">
    <header class="page-header">
      <h1 class="title">
        <%= link_to "Contacts", contacts_path, class: 'heading' %>
        <span class="mute">&nbsp;&sol;&nbsp;</span>
        <%= @contact.name %>
      </h1>
      <span class="push button-group">
        <%= render 'edit-box', target: @contact %>
      </span>
    </header>
  </div>
</div>
<div class="row">
  <div class="col-3 col-offset-1">
    <section class="box">
      <header class="box-header">
        <h2>Address</h2>
      </header>
      <div class="box-content">
        <%= build_address(@contact) %>
      </div>
    </section>
  </div>
  <div class="col-3">
    <%= render 'properties', contact: @contact %>
  </div>
</div>
