<%= link_to project, class: 'box', role: 'article' do %>
  <header class="box-header">
    <%= highlight(project.label, params[:query]) %>
    <%= simple_format(t(".#{ project.status }"), { class: 'push tag' }, wrapper_tag: 'span') if project.status == 'inactive' %>
  </header>

  <div class="box-content">
    <span class="icon-text"><%= icon_tag('people') %><%= simple_format(strip_links(main_parties(project)), {}, wrapper_tag: 'span') %></span>
  </div>

  <footer class="box-footer">
    <span class="keys"><%= dot_label(project.category.label.capitalize, project.category.color) %></span>
    <% if project.reference %>
      <span class="keys disambiguate"><%= highlight(simple_format(project.reference), params[:query]) %></span>
    <% end %>
    <% if project.activities.count > 0 && project.status == 'active' %>
      <span class="keys"><%= t('.last_activity') %> <%= time_ago_in_words(project.activities.last.date) %> ago.</span>
    <% end %>
    <span class="keys"><%= avatar_tag_for(project.owner) %></span>
  </footer>
<% end %>
