<article class="box">
  <header class="box-header">
    <% if project.label %>
      <%= link_to highlight(project.combine(:long_name), params[:q]), project_path(project) %>
    <% else %>
      <%= link_to highlight(project.combine(:name), params[:q]), project_path(project) %>
    <% end %>
    <% if project.status == 'inactive' %>
      <span class="tag">inactive</span>
    <% end %>
  </header>
  <% if project.description %>
  <div class="box-content">
    <p><%= project.description %></p>
  </div>
  <% end %>
  <footer class="box-footer">
    <span class="dot-label small">
      <span class="dot-icon" style="background-color: <%= project.category.color %>"></span>
      <%= project.category.label.capitalize %>
    </span>
    <% if project.reference %>
    <span class="keys disambiguate">
      <%= highlight(project.reference, params[:q]) %>
    </span>
    <% end %>
    <% if project.activities && project.status == 'active' %>
    <span class="keys disambiguate">
      Last activity <%= time_ago_in_words(project.activities.last.date) %> ago.
    </span>
    <% end %>
  </footer>
</article>
