<div class="card">
  <div class="card-header">
    <%= link_to highlight(project.combine(:name), params[:q]), project_path(project) %>
    <% if project.status == 'inactive' %>
      <span class="label">inactive</span>
    <% end %>
  </div>
  <div class="card-content">
    <p><%= highlight(project.label, params[:q]) %></p>
  </div>
  <div class="card-footer">
    <span class="dot-label">
      <span class="dot" style="background-color: <%= project.category.color %>"></span>
      <span><%= project.category.label.titleize %></span>
    </span>
    <% if project.reference.present? %>
    <span class="keys disambiguate">
      <%= highlight(project.reference, params[:q]) %>
    </span>
    <% end %>
  </div>
</div>
