<div class="card">
  <div class="card-header">
    <%= link_to project.name_based_on_parties, project_path(project) %>
    <% if project.status == 'inactive' %>
      <span class="label">inactive</span>
    <% end %>
  </div>
  <div class="card-content">
    <p><%= project.label %></p>
  </div>
  <div class="card-footer">
    <span class="dot-label">
      <span class="dot" style="background-color: <%= project.category.color %>"></span>
      <span><%= project.category.label %></span>
    </span>
    <% if project.reference.present? %>
    <span class="keys disambuguate">
      <%= project.reference %>
    </span>
    <% end %>
  </div>
</div>
