<details class="dropdown">
  <summary aria-haspopup="true">
    <%= simple_format(t('.status'), { class: "button dropdown-trigger#{ ' orange' if params[:status].present? }" }, wrapper_tag: 'span') %>
  </summary>
  <ul class="dropdown-content box">
    <li role="menuitem" class="box-row">
      <%= link_to "#{ t('.active') } (#{ @all_projects.where(status: :active).count })",
      url_for(status: :active),
      class: "menu-item#{ ' orange-color' if params[:status] == 'active' }" %>
    </li>
    <li role="menuitem" class="box-row">
      <%= link_to "#{ t('.inactive') } (#{ @all_projects.where(status: :inactive).count })",
      url_for(status: :inactive),
      class: "menu-item#{ ' orange-color' if params[:status] == 'inactive' }" %>
    </li>
  </ul>
</details>

<details class="dropdown">
  <summary aria-haspopup="true">
    <%= simple_format(t('.case_owner'), { class: "button dropdown-trigger#{ ' orange' if params[:owner].present? }" }, wrapper_tag: 'span') %>
  </summary>
  <ul class="dropdown-content box">
    <% User.all.order(role: :desc, name: :asc).each do |user| %>
    <% if Project.where(owner: user).count > 0 %>
    <li role="menuitem" class="box-row">
      <%= link_to "#{ user.name } (#{ Project.where(owner: user).count })",
      url_for(owner: user.id),
      class: "menu-item#{ ' orange-color' if params[:owner] == 'active' }" %>
    </li>
    <% end %>
    <% end %>
  </ul>
</details>

<div class="buttons-merged">
  <%= link_to t('.your_active_cases'), url_for(owner: current_user, status: :active), class: 'button green' if current_user.projects.where(status: :active).count > 0 %>
  <%= link_to t('helpers.link_to.show_all'), url_for, class: 'button blue' %>
</div>
