<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :project_label %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.select :owner_id, User.lawyers.order(role: :desc, last_name: :asc).collect { |user| ["#{ build_name(user) } (#{ user.role.capitalize })", user.id] }, id: :project_owner_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, ProjectCategory.all.order(:label).collect { |category| [category.label.capitalize, category.id] }, id: :project_category_id %>
  </div>

  <%= link_to 'Add category', new_project_category_path %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Project.statuses.keys.map { |status| [status.capitalize, status] }, id: :project_status %>
  </div>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference, id: :project_reference %>
  </div>

  <div class="actions">
    <%= form.submit 'Créer projet', class: 'button blue' %>
  </div>
<% end %>
