<%= form_with(model: project, local: true, class: 'box') do |form| %>
<%= render 'form_errors', obj: project %>
<div class="row">
  <div class="col">
    <div class="form-field">
      <%= form.label :label %>*
      <%= form.text_field :label, required: true, id: :project_label %>
    </div>

    <div class="form-field">
      <%= form.label :owner_id %>*
      <%= form.select :owner_id, User.lawyers.order(role: :desc, last_name: :asc).collect { |user| ["#{ user.name } (#{ user.role.capitalize })", user.id] }, required: true, id: :project_owner_id %>
    </div>

    <div class="form-field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :project_description %>
    </div>

    <div class="form-field">
      <%= form.label :project_category_id %>*
      <%= form.collection_select(:project_category_id, ProjectCategory.all, :id, :friendly_name, required: true, id: :project_project_category_id) %>
      <%= link_to 'Click to add category', new_project_category_path %>
    </div>

    <div class="form-field">
      <%= form.label :status %>
      <%= form.select :status, Project.statuses.keys.map { |status| [status.capitalize, status] }, id: :project_status %>
    </div>

    <div class="form-field">
      <%= form.label :reference %>
      <%= form.text_field :reference, id: :project_reference %>
    </div>
  </div>

  <div class="col">
    <div class="form-field vertical-flex">
      <div class="flex-item">
        <%= form.label :contact_ids, 'Clients*' %>
        <div class="checkboxes-wrapper">
          <div class="checkboxes">
            <%= form.collection_check_boxes(:contact_ids, Contact.clients.order(:name), :id, :friendly_name, { checked: @project.clients.map(&:to_param), include_hidden: false }) do |b| %>
            <%= b.label(class: "check_box") { b.check_box(class: "check_box") + b.text.strip } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <%= form.label :contact_ids, 'Adversaries' %>
        <div class="checkboxes-wrapper">
          <div class="checkboxes">
            <%= form.collection_check_boxes(:contact_ids, Contact.adversaries.order(:name), :id, :friendly_name, { checked: @project.adversaries.map(&:to_param), include_hidden: false }) do |b| %>
            <%= b.label(class: "check_box") { b.check_box(class: "check_box") + b.text.strip } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-action">
      <span class="mute small">* Required fields.</span>
      <span class="push button-group">
        <%= link_to 'Retour', @project, class: 'button outline' %>
        <%= form.submit 'Créer projet', class: 'button blue push' %>
      </span>
    </div>
  </div>
</div>
<% end %>
