<%= form_with(model: project, local: true) do |form| %>
<%= render 'form_errors', obj: project %>
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header">
        <%= t('.properties') %>
      </div>
      <div class="form-field">
        <%= form.label :label, "#{ t('projects.attributes.label') }*" %>
        <%= form.text_field :label, required: true, id: :project_label %>
      </div>

      <div class="form-field">
        <%= form.label :owner_id, "#{ t('projects.attributes.owner') }*" %>
        <%= form.select :owner_id, User.lawyers.order(role: :desc, name: :asc).collect { |user| ["#{ user.name } (#{ user.role.capitalize })", user.id] }, required: true, id: :project_owner_id %>
      </div>

      <div class="form-field">
        <%= form.label :description, "#{ t('projects.attributes.description') }" %>
        <%= form.text_area :description, rows: 5, id: :project_description %>
      </div>

      <div class="form-field">
        <%= form.label :project_category_id, "#{ t('projects.attributes.category') }*" %>
        <%= form.collection_select(:project_category_id, ProjectCategory.all, :id, :friendly_name, required: true, id: :project_project_category_id) %>
      </div>

      <div class="form-field">
        <%= form.label :status, "#{ t('projects.attributes.status') }" %>
        <%= form.select :status, options_for_select(Project.statuses.keys.map { |status| [status.capitalize, status] }, :active), id: :project_status %>
      </div>

      <div class="form-field">
        <%= form.label :reference, "#{ t('projects.attributes.reference') }" %>
        <%= form.text_field :reference, id: :project_reference %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <div class="box-header">
        <%= t('.clients') %>
      </div>
      <div class="checkbox-list">
        <%= form.collection_check_boxes(:contact_ids, Contact.clients.order(:name), :id, :friendly_name, { checked: project.clients.map(&:to_param), include_hidden: false }) do |b| %>
        <%= b.label(class: "checkbox-label") { b.check_box + sanitize("<span class='checkbox-input'></span>") + b.text.strip } %>
        <% end %>
      </div>
    </div>
    <div class="box">
      <div class="box-header">
        <%= t('.adversaries') %>
      </div>
      <div class="checkbox-list">
        <%= form.collection_check_boxes(:contact_ids, Contact.adversaries.order(:name), :id, :friendly_name, { checked: project.adversaries.map(&:to_param), include_hidden: false }) do |b| %>
        <%= b.label(class: "checkbox-label") { b.check_box(class: "checkbox-input") + b.text.strip } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="box">
      <div class="form-action">
        <span class="mute small">* <%= t('helpers.form.required_fields') %>.</span>
        <span class="push button-group">
          <%= link_to t('helpers.form.back'), project, class: 'button outline' %>
          <%= form.submit 'Créer projet', class: 'button blue push' %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
