<%= form_with(model: project, local: true) do |form| %>
<% if project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name, class: 'label' %>
  <div class="control">
    <%= form.text_field :name, id: :project_name, class: 'input' %>
  </div>
</div>

<div class="field">
  <%= form.label :description, class: 'label' %>
  <div class="control">
    <%= form.text_area :description, id: :project_description, class: 'textarea' %>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <%= link_to 'Cancel', projects_path, class: 'button is-info is-light' %>
  </div>
  <div class="control">
    <%= form.submit class: 'button is-info' %>
  </div>
</div>
<% end %>
