<section class="box">
  <header class="box-header">
    <h2>Properties</h2>
  </header>
  <div class="box-content">
    <p><strong>Status:</strong>&nbsp;<%= @project.status.capitalize %></p>
    <p><strong>Category:</strong>&nbsp;<span class="dot" style="background-color: <%= @project.category.color %>"></span><%= @project.category.label.capitalize %></p>
    <% if @project.reference.present? %>
    <p><strong>Court reference:</strong>&nbsp;<span class="disambiguate"><%= @project.reference %></span></p>
    <% end %>
    <p><strong>Created at:</strong>&nbsp;<%= @project.created_at.strftime("%d.%m.%Y, %H:%M:%S") %></p>
    <p><strong>Last updated at:</strong>&nbsp;<%= @project.updated_at.strftime("%d.%m.%Y, %H:%M:%S") %></p>
    <p><strong>Assigned to:</strong></p>
    <ul>
      <li><%= link_to @project.owner.combine(:name), @project.owner %><span class="mute">&nbsp;(owner)</span></li>
      <% @project.assignees.each do |assignee| %>
      <li><%= link_to assignee.combine(:name), assignee %></li>
      <% end %>
    </ul>
    <hr />
    <p><strong>Your hours:</strong>&nbsp;<%= number_with_precision(@project.activities.where(user: current_user).sum(&:duration), precision: 2) %> (<%= number_with_precision(@project.activities.sum(&:duration), precision: 2) %>&nbsp;overall)</p>
    <p><strong>Your fees:</strong>&nbsp;<%= fee(@project.activities.where(user: current_user).sum(&:duration) * @project.activities.where(user: current_user).sum(&:duration)) %> (<%= fee(@project.activities.sum(&:duration) * @project.activities.where(user: current_user).sum(&:duration)) %>&nbsp;overall)</p>
  </div>
</section>
