<section class="box">
  <header class="box-header">
    <h2><%= t('.title') %></h2>
  </header>
  <div class="box-content">
    <p><strong><%= t('projects.attributes.status') %>:</strong>&nbsp;<%= t("projects.attributes.statuses.#{@project.status}").capitalize %></p>
    <p><strong><%= t('projects.attributes.category') %>:</strong>&nbsp;
      <%= dot_label(t("project_categories.attributes.#{@project.category.id}"), @project.category.color) %>
    </p>
    <% if @project.reference.present? %>
    <p><strong><%= t('projects.attributes.reference') %>:</strong>&nbsp;<span class="disambiguate"><%= @project.reference %></span></p>
    <% end %>
    <p><strong><%= t('projects.attributes.created_at') %>:</strong>&nbsp;<%= l(@project.created_at, format: :short) %></p>
    <p><strong><%= t('projects.attributes.updated_at') %>:</strong>&nbsp;<%= l(@project.updated_at, format: :short) %></p>
    <p><strong><%= t('projects.attributes.owner') %>:</strong>&nbsp;<%= link_to avatar_tag_for(@project.owner), @project.owner %></p>
  </div>
</section>
