<section class="box">
  <header class="box-header">
    <h2>Properties</h2>
  </header>
  <div class="box-content">
    <p><strong>Status:</strong>&nbsp;<%= @project.status.capitalize %></p>
    <p><strong>Category:</strong>&nbsp;
      <%= dot_label(@project.category.label.capitalize, @project.category.color) %>
    </p>
    <% if @project.reference.present? %>
    <p><strong>Court reference:</strong>&nbsp;<span class="disambiguate"><%= @project.reference %></span></p>
    <% end %>
    <p><strong>Created at:</strong>&nbsp;<%= @project.created_at.strftime("%d.%m.%Y, %H:%M:%S") %></p>
    <p><strong>Last updated at:</strong>&nbsp;<%= @project.updated_at.strftime("%d.%m.%Y, %H:%M:%S") %></p>
    <p><strong>Case owner:</strong>&nbsp;<%= link_to avatar_tag_for(@project.owner), @project.owner %></p>
  </div>
</section>
