<section class="box">
  <header class="box-header">
    <h2><%= t('.title') %></h2>
  </header>
  <div class="box-content">
    <p><strong><%= t('.total_hours') %>:</strong>&nbsp;<%= number_with_precision(@project.activities.sum(&:duration), precision: 2) %></p>
    <p><strong><%= t('.total_fees') %>:</strong>&nbsp;<%= fee(total_billed(@project.activities)) %></p>
    <% if @project.activities.count > 0 %>
    <hr>
    <ul class="no-list">
      <% @project.activities.includes(:user).group_by(&:user).sort.reverse.each do |user| %>
      <li class="small">
        <%= avatar_tag_for(user.first) %> <%= t('.logged_tasks', count: user.last.count) %><%= fee(total_billed(user.last)) %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</section>
