<section class="box">
  <header class="box-header">
    <h2>Statistics</h2>
  </header>
  <p><strong>Total hours:</strong>&nbsp;<%= number_with_precision(@project.activities.sum(&:duration), precision: 2) %></p>
  <p><strong>Total fee:</strong>&nbsp;<%= fee(@project.activities.sum(&:duration) * @project.activities.sum(&:duration)) %></p>
  <hr>
  <ul class="box-content">
    <% @project.activities.includes(:user).group_by(&:user).sort.reverse.each do |user| %>
      <li>
        <%= avatar_tag_for(user.first) %>: <%= pluralize(user.last.count, 'task') %> for <%= fee(user.last.sum(&:fee)) %>
      </li>
    <% end %>
  </ul>
</section>
