<section class="box">
  <header class="box-header">
    <h2>Timesheet</h2>
  </header>
  <% if @activities.exists? %>
  <table class="box-content">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Label</th>
        <th>Duration</th>
        <th>Employee</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date.strftime("%d.%m.%Y") %></td>
        <td><%= activity.category %></td>
        <td><%= activity.label %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.user.contact.combine(:name) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="box-content">
    <%= image_tag('undraw/void.svg', class: 'void') %>
  </div>
  <% end %>
</section>
