<ul class="timeline" id="timesheet">
  <li class="timeline-date">
    <header class="timeline-header">
      <span class="timeline-icon"><%= icon_tag('git-commit') %></span>
      <%= t('.new') %>
    </header>
    <ul class="box">
      <li class="box-row">
        <div class="card">
          <%= form_with(model: [@project, @project.activities.build], class: 'inline-fields', local: false) do |form| %>
            <%= form.text_field(:label, placeholder: t('.label')) %>
            <%= form.select(:category, options_for_select(Activity::CATEGORIES.map { |category| [t("activity.attributes.categories.#{ category }").capitalize, category] }, :active)) %>
            <%= form.number_field(:duration, step: 0.1, placeholder: t('.duration_placeholder')) %>
            <%= form.number_field(:fee, step: 0.05, value: number_with_precision(current_user.default_fee, precision: 2), placeholder: t('.rate_placeholder')) %>
            <%= form.date_field(:date, value: Date.today, placeholder: 'Date') %>
            <%= form.submit t('.submit'), class: 'button green' %>
          <% end %>
        </div>
      </li>
    </ul>
  </li>
  <% @project.activities.includes(:user).group_by(&:date).sort.reverse.each do |date| %>
  <li class="timeline-date" data-date="<%= date.first.strftime("%F") %>">
    <header class="timeline-header">
      <span class="timeline-icon"><%= icon_tag('git-commit') %></span>
      <span class="mute"><%= t('.activity_dated') %>&nbsp;</span><%= l(date.first, format: :long) %>
    </header>
    <ul class="box">
      <% date.last.sort_by(&:created_at).reverse.each do |activity| %>
        <li class="box-row"><%= render 'activity', activity: activity %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
