<% if @project.activities.count > 0 %>
<table class="box">
  <thead class="box-header">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Label</th>
      <th>Duration</th>
      <th>Employee</th>
    </tr>
  </thead>
  <tbody>
    <% @project.activities.order('date DESC').each do |activity| %>
    <tr>
      <td><%= activity.date.strftime("%d.%m.%Y") %></td>
      <td><%= activity.category %></td>
      <td><%= activity.label %></td>
      <td><%= activity.duration %></td>
      <td><%= activity.user.contact.combine(:name) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="box">
  <div class="box-header">
    <h2>Activity</h2>
  </div>
  <div class="box-content">
    <p>No activity logged yet...</p>
  </div>
</div>
<% end %>
