<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title">
        <%= link_to "Cases", projects_path, class: 'heading' %>
        <span class="mute">&nbsp;&sol;&nbsp;</span>
        <%= @project.label %> (<%= strip_tags(main_parties(@project)) %>)
      </h1>
      <%= render 'edit-box', target: @project %>
    </header>
  </div>
</div>
<div class="row">
  <div class="col-5">
  <section class="box">
    <header class="box-header">
      <h2>Description</h2>
    </header>
    <% if @project.description %>
    <div class="box-content">
      <p><%= @project.description %></p>
    </div>
    <% else %>
    <%= image_tag('undraw/void.svg', class: 'void') %>
    <% end %>
  </section>
    <section class="box">
      <header class="box-header">
        <h2>Parties</h2>
      </header>
      <div class="box-content">
        <div class="row">
          <%= render 'parties' %>
        </div>
      </div>
    </section>
    <div class="box">
      <span class="box-header">
        <h2>Upcoming deadlines</h2>
      </span>
      <% if @project.deadlines.count > 0 %>
        <%= render 'deadlines' %>
      <% else %>
      <div class="box-content">
        <%= image_tag('undraw/void.svg', class: 'void') %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-3">
    <%= render 'properties' %>
    <%= render 'statistics' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if @project.activities.count > 0 %>
      <%= render 'timesheet' %>
    <% else %>
      <%= image_tag('undraw/void.svg', class: 'void') %>
    <% end %>
  </div>
</div>
