<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="page-title">
        <%= link_to "Cases", projects_path, class: 'heading' %>
        <span class="mute">&nbsp;&sol;&nbsp;</span>
        <%= build_label(@project, :label_with_parties) %>
      </h1>
      <%= render 'page_controls', obj: @project %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <section class="box">
      <header class="box-header">
        <h2 class="heading">Description</h2>
      </header>
      <% if @project.description %>
      <div class="box-content">
        <p><%= @project.description %></p>
      </div>
      <% else %>
        <%= image_tag('undraw/void.svg', class: 'void') %>
      <% end %>
    </section>
    <section class="box">
      <header class="box-header">
        <h2 class="heading">Parties</h2>
      </header>
      <div class="box-content">
        <div class="row">
          <%= render 'parties' %>
        </div>
      </div>
    </section>
  </div>
  <div class="col-3">
    <%= render 'properties' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'deadlines' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'timesheet' %>
  </div>
</div>
