<header class="page-header">
  <div class="row">
    <div class="col-7">
      <h1 class="title">
        <%= link_to "Cases", projects_path %>
        <span class="mute">&nbsp;&sol;&nbsp;</span>
        <% if @project.label %>
          <%= @project.combine(:long_name) %>
        <% else %>
          <%= @project.combine(:name) %>
        <% end %>
      </h1>
    </div>
    <div class="col-1">
      <%= link_to icon_tag('pencil'), edit_project_path(@project) %>
      <%= link_to icon_tag('trash'), @project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-5">
    <section class="box">
      <header class="box-header">
        <h2>Description</h2>
      </header>
      <% if @project.description %>
      <div class="box-content">
        <p><%= @project.description %></p>
      </div>
      <% else %>
      <%= image_tag('undraw/void.svg', class: 'void') %>
      <% end %>
    </section>
    <section class="box">
      <header class="box-header">
        <h2>Parties</h2>
      </header>
      <div class="box-content">
        <div class="row">
          <%= render 'parties' %>
        </div>
      </div>
    </section>
  </div>
  <div class="col-3">
    <%= render 'properties' %>
  </div>
</div>
<div class="row">
  <div class="col">
  <%= render 'deadlines' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'timesheet' %>
  </div>
</div>
