<div class="box">
  <div class="box-header" style="background-color: <%= @project.category.color %>">
    <h1><%= @project.name_based_on_parties %></h1>
  </div>
  <div class="box-content">
    <%= debug(@project) %>

    <p>Clients</p>
    <ul>
      <% @project.parties.where(role: 'client').each do |party| %>
        <li><%= party.combine(:name) %></li>
      <% end %>
    </ul>

    <p>Adversaries</p>
    <ul>
      <% @project.parties.where(role: 'adversary').each do |party| %>
        <li><%= party.combine(:name) %></li>
      <% end %>
    </ul>


    <ul>
      <% Contact.all.where(role: 'client').each do |contact| %>
        <li><%= contact.combine(:name) %></li>
      <% end %>
    </ul>
  </div>
</div>
