<div class="form-row">
  <%= form.label attribute.to_sym, label, class: 'form-label' %>
  <% if local_assigns[:type] == 'password' %>
    <%= form.password_field attribute.to_sym, class: 'form-input' %>
  <% elsif local_assigns[:type] == 'phone' %>
    <%= form.phone_field attribute.to_sym, class: 'form-input' %>
  <% elsif local_assigns[:type] == 'date' %>
    <%= form.date_field attribute.to_sym, label, class: 'form-input' %>
  <% elsif local_assigns[:type] == 'select' %>
    <%= form.select attribute.to_sym, options, class: 'form-input' %>
  <% else %>
    <%= form.text_field attribute.to_sym, class: 'form-input' %>
  <% end %>
</div>
