<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <section class="col-6">
    <%= form_with model:current_user, url: account_path do |user| %>
    <header class="page-header">
      <h1 class="page-title">User settings</h1>
      <div class="button-group">
        <%= link_to 'Cancel', url_for, class: 'button small outline' %>
        <%= user.submit 'Save', class: 'button small light blue' %>
      </div>
    </header>

    <div class="box">
      <div class="box-header">
        User account
      </div>
      <%= render partial: 'forms/row', locals: {
        form: user,
        attribute: 'login',
        label: 'Username',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: user,
        attribute: 'password',
        label: 'Password',
        type: 'password',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: user,
        attribute: 'avatar',
        label: 'Avatar',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: user,
        attribute: 'preferred_lang',
        label: 'Language',
        type: 'select',
        options: User.distinct.pluck(:preferred_lang) { |p| [ p.preferred_lang ] }
      } %>
      <div class="box-header">
        Personal information
      </div>

      <%= user.fields_for(:contact) do |contact| %>
      <%= render partial: 'forms/row', locals: {
        form: contact,
        attribute: 'first_name',
        label: 'First name',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: contact,
        attribute: 'last_name',
        label: 'Last name',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: contact,
        attribute: 'email',
        label: 'Email address',
        required: true
      } %>
      <%= render partial: 'forms/row', locals: {
        form: contact,
        attribute: 'birthday',
        label: 'Birthday',
        type: 'date'
      } %>
      <% end %>
      <div class="box-footer">
        <span class="small">* required fields</span>
      </div>
    </div>
    <% end %>
  </section>
</div>
