<% content_for :dashboard_title, 'Account' %>

<%= form_with(model: current_user, local: true) do |form| %>
<% if current_user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% current_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="box">
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name, 'Full name', class: 'label' %>
        <div class="control has-icons-left">
          <%= form.text_field :name, id: :user_name, class: 'input', placeholder: 'Please enter your first name and surname' %>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= form.label :username, 'E-mail', class: 'label' %>
        <div class="control has-icons-left">
          <%= form.text_field :username, id: :user_username, class: 'input', placeholder: 'This will also be your username' %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, 'Password', class: 'label' %>
        <div class="control has-icons-left">
          <%= form.password_field :password, id: :user_password, class: 'input' %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="column">
      <%= form.label :avatar, class: 'label block' %>
      <figure class="image is-128x128 avatar">
        <div class="file is-small is-boxed file-upload">
          <label class="file-label">
            <%= form.file_field :avatar, class: 'file-input', accept: '.jpg, .jpeg, .gif, .png' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span>
                Upload another…
              </span>
            </span>
          </label>
        </div>
        <%= image_tag current_user.avatar, size: "128x128", alt: "Avatar for #{current_user.name}" %>
      </figure>
    </div>
  </div>
  <div class="columns">
          <div class="column">
            <div class="field mt-5">
              <div class="control">
                <%= form.submit 'Update', class: 'button is-info' %>
              </div>
            </div>
          </div>
  </div>
</div>
<% end %>
