<p>
  <strong>Login:</strong>
  <%= current_user.login %>
</p>

<p>
  <strong>Full name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= current_user.password_digest %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= current_user.avatar %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Locale:</strong>
  <%= current_user.locale %>
</p>

<p>
  <strong>Role:</strong>
  <%= current_user.role %>
</p>

<p>
  <strong>Default fee:</strong>
  <%= current_user.default_fee %>
</p>

<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>
