<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Overview', dashboard_index_path, class: active_page?(dashboard_index_path) %></li>
    <li><a>Deadlines</a></li>
    <li><%= link_to 'Account', account_index_path, class: active_page?(account_index_path) %></li>
  </ul>
  <p class="menu-label">
    Cases
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Overview', projects_path, class: active_page?(projects_path) %></li>
    <li><%= link_to 'New case', new_project_path, class: active_page?(new_project_path) %></li>
  </ul>
  <p class="menu-label">
    Time management
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
  <p class="menu-label">
    Contacts
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Overview', contacts_path, class: active_page?(contacts_path) %></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
