<details class="dropdown">
  <summary aria-haspopup="true">
    <span class="dropdown-trigger">
      <%= icon_tag 'plus-circle' %>
    </span>
  </summary>
  <ul class="dropdown-content box">
    <li role="menuitem" class="box-row"><%= link_to t('.add_case'), new_project_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to t('.add_contact'), new_contact_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to t('.add_deadline'), new_deadline_path, class: 'menu-item' %></li>
    <% if is_admin? %>
    <li role="menuitem" class="box-row"><%= link_to t('.add_user'), new_user_path, class: 'menu-item' %></li>
    <% end %>
  </ul>
</details>
<details class="dropdown">
  <summary aria-haspopup="true">
    <span class="dropdown-trigger">
      <%= image_tag current_user.avatar, alt: 'Avatar', class: 'icon avatar' %>
    </span>
  </summary>
  <ul class="dropdown-content box">
    <li role="menuitem" class="box-row"><span class="menu-header"><%= t('.signed_in_as') %><br /><strong><%= current_user.name %></strong></span></li>
    <li role="menuitem" class="box-row"><%= link_to t('.dashboard'), dashboard_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to t('.account'), account_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to t('.favourites'), favourites_path, class: 'menu-item' %></li>
    <% if is_admin? %>
    <li role="menuitem" class="box-row"><%= link_to t('.users'), users_path, class: 'menu-item' %></li>
    <% end %>
    <li role="menuitem" class="box-row"><%= link_to t('.log_out'), logout_path, method: :delete, class: 'menu-item' %></li>
  </ul>
</details>
