<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= link_to projects_path, class: 'site-logo' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 496 512">
          <path fill="currentColor" d="M287.6 54.2a194 194 0 00-33.5-3.6V32.4c78.1 2.2 146.1 44 184.6 106.6l-15.8 9.1a194.7 194.7 0 00-20.2-27.1l-18 15.5a180.3 180.3 0 00-101.9-58.4l4.8-23.9zM53.4 322.4l23-7.7a178.2 178.2 0 01-.3-117.4l-22.7-7.7c3.6-10.8 8.3-21.3 13.6-31l-15.8-9.1a222.2 222.2 0 000 213.1l15.8-9.1c-5.3-10-9.7-20.3-13.6-31.1zM213.1 434c-40.4-8-75.8-29.1-101.9-58.7l-18 15.8A191.5 191.5 0 0173 363.7l-16 9.4a225 225 0 00184.9 106.6v-18.3c-11.3-.3-22.7-1.7-33.5-3.6l4.7-23.8zM93.3 120.9l18 15.5c26-29.6 61.4-50.7 101.9-58.4l-4.7-23.8a194 194 0 0133.5-3.6V32.4A223.5 223.5 0 0057.4 139l15.8 9.1c6-9.7 12.6-18.9 20.1-27.2zm309.4 270.2l-18-15.8A182.5 182.5 0 01282.8 434l4.7 23.8a229 229 0 01-33.5 3.6v18.3a224.8 224.8 0 00184.9-106.6l-16.1-9.4a183.5 183.5 0 01-20.1 27.4zM496 256a248 248 0 11-496 0 248 248 0 01496 0zm-12.2 0c0-130.1-105.7-235.8-235.8-235.8S12.2 125.9 12.2 256 117.9 491.8 248 491.8 483.8 386.1 483.8 256zm-39-106.6l-15.8 9.1c5.3 9.7 10 20.2 13.6 31l-22.7 7.7a178 178 0 01-.3 117.4l23 7.7c-3.9 10.8-8.3 21-13.6 31l15.8 9.1a223 223 0 000-213zm-183 177.7a72.4 72.4 0 0040.7-23.5l51.2 44.8a136.1 136.1 0 0027.1-46.8l-64.2-22.1a73.3 73.3 0 000-47l64.5-22.1a142.9 142.9 0 00-27.4-46.8l-51.2 44.8a72.5 72.5 0 00-40.7-23.8l13.3-66.4c-8.6-1.9-17.7-2.8-27.1-2.8-9.4 0-18.5.8-27.1 2.8l13.3 66.4a72.8 72.8 0 00-40.7 23.8l-51.2-44.8a141.8 141.8 0 00-27.4 46.8l64.5 22.1a73.3 73.3 0 000 47l-64.2 22.1a137 137 0 0027.1 46.8l51.2-44.8a72 72 0 0040.7 23.5l-13.3 66.7c8.6 1.7 17.7 2.8 27.1 2.8 9.4 0 18.5-1.1 27.1-2.8l-13.3-66.7z" />
        </svg>
        <% end %>
      </div>

      <div class="col-4">
        <%= render 'search_form' %>
      </div>

      <div class="col-2">
        <% if logged_in? %>
        <details>
          <summary aria-haspopup="true">
            <div class="a">
              <%= icon_tag('plus-circle', class: 'big') %>
            </div>
          </summary>
          <ul class="box dropdown">
            <li role="menuitem"><a href="#" class="box-row small">Add case</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add contact</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add deadline</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add user</a></li>
          </ul>
        </details>
        <details>
          <summary aria-haspopup="true">
            <div class="a">
              <%= image_tag(current_user.avatar, alt: 'Avatar', class: 'icon avatar') %>
            </div>
          </summary>
          <ul class="box dropdown">
            <li role="menuitem"><span class="box-row small"><span>Signed in as<br /><strong><%= current_user.contact.combine(:name) %></strong></span></span></li>
            <li role="menuitem"><a href="#" class="box-row small">Account</a></li>
            <% if current_user.role.access_level <= 1 %>
            <li role="menuitem"><%= link_to "Settings", settings_path, class: 'box-row small' %></li>
            <% end %>
            <li role="menuitem"><a href="#" class="box-row small">Français</a></li>
            <li role="menuitem"><%= link_to "Log out", logout_path, class: "box-row small", method: :delete %></li>
          </ul>
        </details>
        <% end %>
      </div>
    </div>
  </div>
</header>
