<details class="dropdown">
  <summary aria-haspopup="true">
    <span class="dropdown-trigger">
      <%= icon_tag 'plus-circle' %>
    </span>
  </summary>
  <ul class="dropdown-content box">
    <li role="menuitem" class="box-row"><%= link_to 'Add case', new_project_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to 'Add contact', new_contact_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to 'Add deadline', new_deadline_path, class: 'menu-item' %></li>
    <% if is_admin? || is_partner? %>
    <li role="menuitem" class="box-row"><%= link_to 'Add user', new_user_path, class: 'menu-item' %></li>
    <% end %>
  </ul>
</details>
<details class="dropdown">
  <summary aria-haspopup="true">
    <span class="dropdown-trigger">
      <%= image_tag current_user.avatar, alt: 'Avatar', class: 'icon avatar' %>
    </span>
  </summary>
  <ul class="dropdown-content box">
    <li role="menuitem" class="box-row"><span class="menu-header">Signed in as<br /><strong><%= current_user.name %></strong></span></li>
    <li role="menuitem" class="box-row"><%= link_to "Dashboard", dashboard_path, class: 'menu-item' %></li>
    <li role="menuitem" class="box-row"><%= link_to "Account", account_path, class: 'menu-item' %></li>
    <% if is_admin? || is_partner? %>
    <li role="menuitem" class="box-row"><%= link_to "Users", users_path, class: 'menu-item' %></li>
    <% end %>
    <li role="menuitem" class="box-row"><%= link_to "Log out", logout_path, method: :delete, class: 'menu-item' %></li>
  </ul>
</details>
