<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%=
        link_to_if(logged_in?, icon_tag('empire', class: 'site-logo'), projects_path) do |name|
        link_to(name, root_path)
        end
        %>
      </div>

      <div class="col-4">
        <% if logged_in? %>
        <%= render 'search_form' %>
        <% end %>
      </div>

      <div class="col-2">
        <% if logged_in? %>
        <details>
          <summary aria-haspopup="true">
            <div class="a">
              <%= icon_tag('plus-circle') %>
            </div>
          </summary>
          <ul class="box dropdown">
            <li role="menuitem"><a href="#" class="box-row small">Add case</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add contact</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add deadline</a></li>
            <li role="menuitem"><a href="#" class="box-row small">Add user</a></li>
          </ul>
        </details>
        <details>
          <summary aria-haspopup="true">
            <div class="a">
              <%= image_tag(current_user.avatar, alt: 'Avatar', class: 'icon avatar') %>
            </div>
          </summary>
          <ul class="box dropdown">
            <li role="menuitem"><span class="box-row small"><span>Signed in as<br /><strong><%= current_user.contact.combine(:name) %></strong></span></span></li>
            <li role="menuitem"><a href="#" class="box-row small">Account</a></li>
            <% if current_user.role.access_level <= 1 %>
            <li role="menuitem"><%= link_to "Settings", settings_path, class: 'box-row small' %></li>
            <% end %>
            <li role="menuitem"><a href="#" class="box-row small">Français</a></li>
            <li role="menuitem"><%= link_to "Log out", logout_path, class: "box-row small", method: :delete %></li>
          </ul>
        </details>
        <% else %>
        <%= link_to 'Log in', login_path, class: 'button outline' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
