<%= form_tag search_path, method: :get, class: 'search-form', id: 'search-form' do %>
<%= text_field_tag :query, params[:query], autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false', autocomplete: 'off', placeholder: 'Search...', class: 'search-input' %>
<div class="expanded-search" id="expanded-search">
  <ul class="box">
    <li class="box-row">
      <%= button_tag t('helpers.form.search'), name: 'search_in', value: 'projects', class: 'menu-item' do %>
        <%= t('.search_for') %> '<span class="search-value"></span>' <%= t('.in') %> <%= t('.cases') %><%= icon_tag('search', class: 'push') %>
      <% end %>
    </li>
    <li class="box-row">
      <%= button_tag t('helpers.form.search'), name: 'search_in', value: 'contacts', class: 'menu-item' do %>
        <%= t('.search_for') %> '<span class="search-value"></span>' <%= t('.in') %> <%= t('.contacts') %><%= icon_tag('search', class: 'push') %>
      <% end %>
    </li>
    <li class="box-row">
      <%= button_tag t('helpers.form.search'), name: 'search_in', value: 'deadlines', class: 'menu-item' do %>
        <%= t('.search_for') %> '<span class="search-value"></span>' <%= t('.in') %> <%= t('.deadlines') %><%= icon_tag('search', class: 'push') %>
      <% end %>
    </li>
  </ul>
</div>
<% end %>
