<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th><abbr title="Played">Pld</abbr></th>
      <th><abbr title="Won">W</abbr></th>
      <th><abbr title="Drawn">D</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Team</th>
      <th><abbr title="Played">Pld</abbr></th>
      <th><abbr title="Won">W</abbr></th>
      <th><abbr title="Drawn">D</abbr></th>
    </tr>
  </tfoot>
  <tbody>
    <% if timesheet.any? %>
    <% timesheet.each do |time_entry| %>
    <tr>
      <td><%= time_entry.date.strftime("%d.%m.%Y") %></td>
      <td><%= time_entry.time %></td>
      <td><%= time_entry.label %></td>
      <td><%= time_entry.user.name %></td>
      <td><%= time_entry.label %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="5" style="text-align: center">No time entry yet&mldr;</td>
    </tr>
    <% end %>
  </tbody>
</table>
