<%= render "document_head" %>

<header>
  <%= render "navbar" %>
</header>

<main class="section">
  <%= content_for?(:content) ? yield(:content) : yield %>
</main>

<div class="footer">
  <%= render "footer" %>
</div>

<%= render "document_foot" %>
