<%= render "document_head" %>

<header>
  <%= render "navbar" %>
</header>

<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <%= render "menu" %>
      </div>
      <div class="column is-10">
        <header class="page-header">
          <p class="title">
            <%= content_for(:dashboard_title) || "Dashboard" %>
          </p>
        </header>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </div>
</main>

<div class="footer">
  <%= render "footer" %>
</div>

<%= render "document_foot" %>
