<!doctype html>
<html lang="<%= I18n.locale || 'en' %>">
<head>
  <meta charset="utf-8">
  <title>Codex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'header' %>
  <main class="container">
    <%= render 'flash', flash: flash %>
    <%= yield %>
  </main>
  <%= render 'footer' %>
</body>
</html>
