<%= render "document_head" %>

<main class="hero is-info is-bold is-fullheight" id="particles-js">
  <header class="hero-head">
    <%= render partial: "navbar", locals: { hero: true } %>
  </header>

  <section class="hero-body">
    <%= yield %>
  </section>

  <div class="hero-foot">
    <%= render partial: "footer", locals: { hero: true } %>
  </div>
</main>

<%= render "document_foot" %>
