<%= render "document_head", locals: { hero: true } %>

<main class="homepage hero is-info is-bold is-fullheight" id="particles-js">
  <header class="hero-head">
    <%= render partial: "navbar", locals: { hero: true } %>
  </header>

  <%= render 'flash' if flash.any? %>

  <section class="hero-body">
    <%= yield %>
  </section>

  <div class="hero-foot">
    <%= render partial: "footer", locals: { hero: true } %>
  </div>
</main>

<%= render "document_foot" %>
<%= javascript_include_tag 'particles.load', 'data-turbolinks-track': 'reload' %>
