<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <div class="col-6">
    <%= form_with model:current_user.contact, url: account_path do |form| %>
    <header class="page-header">
      <h1 class="page-title">Contact information</h1>
      <div class="button-group">
        <%= link_to 'Cancel', url_for, class: 'button small outline' %>
        <%= form.submit 'Save', class: 'button small light blue' %>
      </div>
    </header>

    <div class="box">
      <div class="box-header">
        Name
      </div>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'prefix',
        label: 'Prefix'
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'first_name',
        label: 'First name'
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'last_name',
        label: 'Last name'
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'suffix',
        label: 'Suffix'
      } %>

      <div class="box-header">
        Additional information
      </div>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'email',
        label: 'E-mail'
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'phone',
        label: 'Phone',
        type: 'phone'
      } %>
      <% unless current_user.contact.company %>
        <%= render partial: 'forms/row', locals: {
          form: form,
          attribute: 'birthday',
          label: 'Birthday',
          type: 'birthday'
        } %>
      <% end %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'activity',
        label: current_user.contact.company ? 'Activity' : 'Profession'
      } %>
      <%= render partial: 'forms/row', locals: {
        form: form,
        attribute: 'company',
        label: 'Category',
        type: 'select',
        options: [ [ "Company", true ], [ "Private person", false ] ]
      } %>
      <% if current_user.contact.company %>
        <%= render partial: 'forms/row', locals: {
          form: form,
          attribute: 'company_id',
          label: 'Company ID',
          type: 'company_id'
        } %>
      <% end %>

        <div class="box-header">
          Address
        </div>

        <%= form.fields_for(:address) do |address| %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'pobox',
            label: 'PO Box'
          } %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'street',
            label: 'Street'
          } %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'streetno',
            label: 'Street Number'
          } %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'zip',
            label: 'Zip code'
          } %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'city',
            label: 'City'
          } %>
          <%= render partial: 'forms/row', locals: {
            form: address,
            attribute: 'country',
            label: 'Country'
          } %>
        <% end %>
      <%= render partial: 'forms/buttons', locals: {
        form: form
      } %>
    </div>
    <% end %>
  </div>
</div>
